vti_encoding:SR|utf8-nl
vti_author:SR|OLIVER\\Oliver
vti_modifiedby:SR|OLIVER\\Oliver
vti_timelastmodified:TR|02 Nov 2012 00:25:44 -0000
vti_timecreated:TR|02 Nov 2012 00:25:44 -0000
vti_cacheddtm:TX|02 Nov 2012 00:25:44 -0000
vti_filesize:IR|3602
vti_cachedlinkinfo:VX|S|../../css/sc-player-standard/img/play-orange.png S|../../css/sc-player-standard/img/play-orange-hover.png S|../../css/sc-player-standard/img/play-orange.png S|../../css/sc-player-standard/img/play-orange-hover.png S|../../css/sc-player-standard/img/pause-orange.png S|../../css/sc-player-standard/img/pause-orange-hover.png
vti_cachedsvcrellinks:VX|FSUS|css/sc-player-standard/img/play-orange.png FSUS|css/sc-player-standard/img/play-orange-hover.png FSUS|css/sc-player-standard/img/play-orange.png FSUS|css/sc-player-standard/img/play-orange-hover.png FSUS|css/sc-player-standard/img/pause-orange.png FSUS|css/sc-player-standard/img/pause-orange-hover.png
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
